.wrapper {
	display: grid;
	grid-template-rows: 1fr 3fr;
	grid-template-columns: 1fr minmax(max-content, 8fr) 1fr;
}
.header {
	grid-column-start: 2;
	grid-row: row 1;
	display: grid;
	grid-template-rows: 1fr 2fr;
}
.small-header {
	display: grid;
	grid-template-columns: minmax(max-content, auto) max-content;
	border: solid 1px green;
}
.big-header {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	align-items: center;
	grid-template-columns: max-content max-content minmax(max-content, auto);
	grid-column-gap: 7%;
}
h1 {
	// align-self: center;
}
nav {
	// align-self: center;
	display: grid;
	grid-template-columns: repeat(5, max-content);
	column-gap: 2vw;
	font-family: HarmoniaSansProCyr, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
}
ul.capabilities {
	// align-self: center;
	padding-left: 0;
	display: grid;
	grid-template-columns: repeat(3, max-content);
	grid-column-gap: 20px;
	list-style-type: none;
	justify-content: end;
}
.product {
	grid-column-start: 2;
	grid-row: row 2;
	display: grid;
	grid-template-columns: 1.5fr 3fr;
	grid-column-gap: 85px; // to be replaced to vw
}
.product-image {
	display: grid;
	grid-template-rows: 7fr 3fr;
	// grid-template-columns: repeat(3, 1fr);
}
div.big-product-img {
	width: auto;
	height: 275px;
	background: url("../img/big_product_img.png") no-repeat center;
}
.product-img-thumbnails {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}
.product-img-thumbnails div {
	width: 95px;
	height: 70px;
	position: relative;
}
.boots {
	background: url("../img/thumbnails_boots_img.png") no-repeat center;
}
.trousers {
	background: url("../img/thumbnails_trousers_img.png") no-repeat center;
}
.jacket {
	background: url("../img/thumbnails_jacket_img.png") no-repeat center;
}
// .product-img:hover::before,
.img-active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-color: rgba(254, 76, 0, 0.85);
}
.product-details {
	display: grid;
	grid-template-rows: repeat(5, max-content);
	h2 {
		margin: -15px 0 -10px 0;
		padding: 0;
		align-self: top;
		text-transform: uppercase;
		font-family: HarmoniaSansProCyr, Arial, serif;
		color: #ff5912;
		font-weight: 900;
		font-size: 52.15px;
	}
	h3 {

		font-family: HarmoniaSansProCyr, Arial, serif;
		font-weight: 600;
		font-size: 18px;
		color: #3c4751;
	}
	div.product-description {
		line-height: 1.9;
		font-family: HarmoniaSansProCyr, Arial, serif;
		font-weight: 400;
		font-size: 16px;
		color: #495662;
		p {
			margin: 0;
		}
	}
}
