@font-face {
	font-family: 'HarmoniaSansProCyr';
	src: url(../fonts/HarmoniaSansProCyr-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: 'HarmoniaSansProCyr';
	src: url(../fonts/HarmoniaSansProCyr-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: 'HarmoniaSansProCyr';
	src: url(../fonts/HarmoniaSansProCyr-SemiBd.ttf);
	font-weight: 600;
}
@font-face {
	font-family: 'HarmoniaSansProCyr';
	src: url(../fonts/HarmoniaSansProCyr-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: 'HarmoniaSansProCyr';
	src: url(../fonts/HarmoniaSansProCyr-Black.ttf);
	font-weight: 900;
}

.wrapper{
	max-width: 1540px;
	width: 100%;
}
.small-header{
	max-width: 1170px;
	width: 95%;
	min-width: 540px;
	height: 60px;
	margin: auto;
}
.small-header ul{
	display: inline-block;
}
.contacts li {
	display: inline-block;
	list-style: none;
	font-family: HarmoniaSansProCyr, Arial, serif;
	font-weight: 400;	
	font-size: 12px;
}
.contacts li:nth-child(2) {
	margin-left: 40px;
}
.contacts a,
.contacts a:visited {
	position: relative;
	text-decoration: none;
	color: #34404b;
}
.mail a:before {
	content: url(../img/contacts_mail.png);
	position: absolute;
	top: 1px;
	left: -30px;
}
.phone a:before {
	content: url(../img/contacts_phone.png);
	position: absolute;
	left: -22px;
}

ul.social{
	float: right;
	padding-left: 0;
}
.social li {
	display: inline-block;
	margin-right: 40px;
	list-style: none;
}
.social li:last-child {
	margin-right: 0;
}